/*start font style */
@font-face {
    font-family: 'ItalicWinkySans';
    src: url(../fonts/WinkySans-Italic-VariableFont_wght.ttf) format('truetype');
    font-style: normal;
    font-weight: 100 900;
}
@font-face {
    font-family: 'NormalWinkySans';
    src: url(../fonts/WinkySans-VariableFont_wght.ttf) format('truetype');
    font-style: italic;
    font-weight: 100 900;
}
@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato-Regular.ttf) format('truetype');
    font-style: italic;
    font-weight: 100 900;
}
/*end font style */
/* start list and link formates */
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/* end list and link formates */
/* start main formates */
.w-full{
    width: 100%;
}
.h-full{
    height: 100%;
}
.margin-b-25{
    margin-bottom: 25px;
}
/* start main formates */
/* start position and main display formates */
.p-relative{
    position: relative;
}
.p-absolute{
    position: absolute;
}
.d-block{
    display: block;
}
/* end position and main display formates */
/* start flex formates */
.d-flex{
    display: flex;
}
.f-d-column{
    flex-direction: column;
}
.f-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.j-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.g-20{
    gap: 20px;
}
.f-wrap{
    flex-wrap: wrap;
}

/* end flex formates */