/*  start global value */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "NormalWinkySans";
    padding-right: 5px;
    text-transform: capitalize;
}
:root{
    --main-background-color:#f6f6f6;
    --header-background-color:#ffffff;
    --gold-background-color:#f3f1ef;
    --gold-color:#c8a165;
    --light-gold-color:#d3b484;
    --dark-gold-color:#c87065;
    --text-color:#666666;
    --transition:.4s;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    display: none;
}
/* start scroller */
.scroller{
    position: fixed;
    top: 0;
    right: 0;
    width: 5px;
    height: 0;
    background-color: var(--gold-color);
    z-index: 10000;
    border-radius: 10px;
}
/* end scroller */
/* start  */
.container{
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width:499px) {
    .container{
        width: 100%;
    }
}
/* small */
@media (min-width: 500px){
    .container{
        width: 500px;
    }
}
/* meduim */
@media (min-width: 992px){
    .container{
        width: 910px;
    }
}
/* large */
@media (min-width: 1200px){
    .container{
        width:1170px;
    }
}
/* start main-header */
.main-header{
    padding-block: 30px;
}
.main-header h3{
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 20px;
}
.main-header h3::before{
    content: "";
    position: absolute;
    width: 30%;
    height: 3px;
    background-color: var(--dark-gold-color);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
}
/* end main-header */
/* start slide formate to product and online product */
.slide-content img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slide-content {
    position: relative;
    padding: 10px;
}
.slide-content .slide-header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px;
}
.slide-content .slide-header .new{
    background-color: var(--gold-color);
    color: white;
    padding: 3px 5px;
    border-radius: 4px;
}
.slide-content .slide-header span{
    color: var(--dark-gold-color);
    font-size: 17px;
    font-weight: 600;
}
.slide-content .slide-header div span:last-child{
    font-size: 14px;
    margin-left: 5px;
    color: var(--gold-color);
}
.slide-content .slide-footer .title{
    padding-block: 20px;
}
.slide-content .slide-footer .title .name{
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.slide-content .slide-footer .title .rate{
    color: var(--gold-color);
    font-size: 13px;
}
@media (max-width:1200px) {
    .slide-content .slide-footer .title .name{
        font-size: 14px;
    }
    .slide-content .slide-footer .title .rate{
        color: var(--gold-color);
        font-size: 10px;
    }
}
.slide-content .slide-footer .services {
    width: 100%;
    background-color: var(--main-background-color);
    padding: 10px;
    border-radius: 5px;
}
.slide-content .slide-footer .services div{
    width: calc(100% / 4);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.slide-content .slide-footer .services div a , 
.slide-content .slide-footer .services div i{
    color: var(--text-color);
    cursor: pointer;
    font-size: 13px;
    transition: var(--transition);
}
.slide-content .slide-footer .services div a:hover , 
.slide-content .slide-footer .services div i:hover{
    transform: scale(1.2);
    color: var(--gold-color);
}
.slide-content .slide-footer .services div:not(:last-child)::before{
    content: "";
    position: absolute;
    width: 2px ;
    height: 120%;
    background-color: var(--text-color);
    right: 0;
    border-radius: 10px;
}
/* end slide formate to product and online product */
/*  end global value */
/* start header */
header{
    height: 100px;
    position: fixed;
    background-color: var(--header-background-color);
    box-shadow: 0 0 5px 0px rgb(170, 169, 169);
    z-index: 1000;
}
header .nav .bar{
    overflow: hidden;
    width: 70px;
    align-items: center;
    transition: var(--transition);
}
header .nav .bar span{
    width: 25px;
    height: 2px;
    background-color: black;
    border-radius: 10px;
    position: relative;
    transition: var(--transition);
}
header .nav .bar:hover span{
    background-color: #707070;
}
header .nav .bar span:nth-child(1) {
    left: 0;
}
header .nav .bar span:nth-child(3){
    right: 0;
}
header .nav .bar span:nth-child(2){
    opacity: 1;
}
header .nav .bar .bar-content{
    cursor: pointer;
}
header .nav .bar span:not(:last-child){
    margin-bottom: 5px;
}
header .nav .bar span:nth-child(1),
header .nav .bar span:nth-child(3){
    height: 4px;
}
header .nav .bar span:nth-child(2).hide{
    opacity: 0;
}
.left{
    transform: rotate(45deg) translate(0px , 10px);
}
.right{
    transform: rotate(-45deg) translate(0px , -10px);
}
header .nav .menu{
    position: fixed;
    top: 100px;
    left: -100%;
    z-index: 1000;
    background-color: var(--header-background-color);
    min-height: 100vh;
    transition: var(--transition);
    width: 250px;
}
header .nav .menu.display{
    left: 0;
}
header .nav .menu ul li {
    position: relative;
    padding: 10px 0px 10px 50px;
    margin-bottom: 5px;
    transition: var(--transition);
}
header .nav .menu ul li a{
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    transition: var(--transition);
}
header .nav .menu ul li::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--gold-color);
    left: -100%;
    top: 0;
    z-index: -100;
    transition: var(--transition);
}
header .nav .menu ul li:hover::before{
    left: 0;
}
header .nav .menu ul li:hover a{
    color: white;
}
header .nav .logo img{
    width: 150px;
}
.cart-icon i {
    font-size: 20px;
    cursor: pointer;
    transition: var(--transition);
}
.cart-icon i:hover{
    color: var(--gold-color);
}
#NumberOfPieces{
    width: 16px;
    height: 16px;
    background-color: var(--dark-gold-color);
    position: absolute;
    top: -9px;
    right:-9px;
    border-radius: 50%;
    color: white;
    outline: 3px solid white;
}
/* end header */
/* start home */
.home{
    min-height: calc(100vh);
    position: relative;
    /* top: 100px; */
    background-color: var(--gold-background-color);
}
.home i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    z-index: 600;
}
@media (max-width:992px) {
    .home i{
        font-size: 15px;
        width: 25px;
        height: 25px;
    }
}
.home i:hover{
    background-color:var(--gold-color) ;
    color: white;
}
.home .lefticon{
    left: 0px;
    color: black;
}
.home .righticon{
    right: 0px;
}
.home .card{
    width: 100%;
    height: 100%;
    gap: 20px;
    background-color: var(--gold-background-color);
    opacity: 0;
    transition: opacity 1s ease;
    pointer-events: none;
    overflow: hidden;
}
.home .card .image {
    flex-basis: calc(50% - 10px);
    height: 100%;
}
.home .card .image img {
    width: 90%;
    border-radius: 10px;
}
.home .card .card-content{
    flex-basis: calc(50% - 10px);
}
@media (max-width:500px) {
    .home .card{
        flex-direction: column;
        padding-inline: 30px;
        gap: 0;
        row-gap: 20px;
    }
    .home .card .image {
        flex-basis: 100%;
    }
    .home .card .card-content{
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.home .card .card-content .text h3{
    color: #828282;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.home .card .card-content .text h1{
    text-transform: uppercase;
    color: #444444;
    font-size: 70px;
    margin: 0px;
    margin-bottom: 20px;
}
.home .card .card-content p{
    color: #828282;
    margin-top: 20px;
    margin-bottom: 10px;
}
.home .card .card-content button{
    outline: none;
    border: 1px solid var(--text-color);
    padding:5px 10px;
    color: var(--text-color);
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    overflow: hidden;
    transition: var(--transition) ;
}
@media (max-width:992px) {
    .home .card .card-content .text h3{
        font-size: 17px;
        margin-bottom: 10px;
    }
    .home .card .card-content .text h1{
        font-size: 40px;
        margin-bottom: 10px;
    }
    .home .card .card-content p{
        margin-top: 10px;
        font-size: 12px;
    }
    .home .card .card-content button{
        padding: 5px;
        font-size: 13px;
    }
}
.home .card .card-content button::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    background-color: var(--gold-color);
    z-index: -10;
    transition: var(--transition);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home .card .card-content button:hover::before{
    left: 0%;
}
.home .card .card-content button:hover{
    border-color: white;
    color: white;
}
.cardone .image img{
    box-shadow: 0 0 20px 10px #f3f3f1;
}
.cardtwo .image img{
    box-shadow: 0 0 20px 10px #eeeae7;
}
.cardone{
    z-index: 1;
}
.cardtwo{
    z-index: 1;
}
.cardthree{
    z-index: 1;
}
.home .card.active-slide{
    z-index: 3;
    opacity: 1;
    pointer-events: auto;
}
.dots{
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 700;
    gap: 5px;
}
.dots span{
    width: 12px;
    height: 12px;
    background-color:rgb(225, 225, 225);
    display: inline-block;
    border-radius: 50%;
    margin: 0;
    cursor: pointer;
    transition: var(--transition);
}
.dots .active{
    background-color: var(--gold-color);
    opacity: 1;
}
/* end home */
/* start overview */
.overview{
    background-color: var(--main-background-color);
    padding-block: 50px;
}
.overview .overview-conetnt{
    gap: 30px;
}
@media (max-width:992px) {
    .overview .overview-conetnt{
        flex-direction: column;
    }
}
.overview .box{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    transition: var(--transition);
    cursor: pointer;
}
.overview .box:hover{
    box-shadow: 0 0 20px 0  rgba(0, 0, 0, 0.074);
}
.overview .box .image img{
    width: 100%;
}
.overview .boxone{
    flex-basis: calc(50% - 15px);
}
.overview .boxone .price span:first-child{
    background-color: var(--gold-color);
    color: white;
    padding:5px 10px;
    border-radius: 5px;
    font-size: 17px;
}
.overview .boxone .price{
    top: 10px;
    left: 0;
    padding-inline: 10px;
}
.overview .boxone .desc{
    bottom: 10px;
    left: 0;
    padding-inline: 10px;
}
.overview .boxone .desc p span:first-child{
    font-size: 17px;
    font-weight: 500;
}
.overview .boxone .desc p span:last-child{
    font-size: 15px;
    color: var(--text-color);
}
.overview .boxone .desc button{
    outline: none;
    border: 1px solid var(--text-color);
    padding:5px 10px;
    color: var(--text-color);
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    overflow: hidden;
    transition: var(--transition);
    position: relative;
    z-index: 10;
}
.overview .boxone .desc button::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    background-color: var(--gold-color);
    z-index: -10;
    transition: var(--transition);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.overview .boxone .desc button:hover::before{
    left: 0%;
}
.overview .boxone .desc button:hover{
    border-color: white;
    color: white;
}
.overview .boxone .price span:last-child{
    font-size: 16px;
    font-weight: 400;
}
.overview .boxtwo{
    flex-basis: calc(50% - 15px);
    overflow: hidden;
}
.overview .boxtwo .boxtwo-text {
    top: 10px;
    right: 0;
}
.overview .boxtwo .image{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.overview .boxtwo .image img{
    width: 50%;
}
.overview .boxtwo .boxtwo-text {
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--text-color);
    transition: var(--transition);
}
.overview .boxtwo .boxtwo-text span:last-child{
    color: var(--gold-color);
}
.overview .boxtwo .boxtwo-text:hover{
    color: var(--gold-color);
}
@media (max-width:992px) {
    .overview .boxtwo .boxtwo-text {
        right: 10%;
        font-size: 22px;
    }
}
/* end overview */
/* start Products */
.Products {
    background-color: var(--gold-background-color);
    padding-top:30px ;
    padding-bottom: 60px;
}
/* start swiper */
.Products .swiper-slide {
    font-size: 18px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.Products .buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
}
.Products .swiper-button-custom-prev,
.swiper-button-custom-next {
    background-color: white;
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: var(--transition);
}
.Products .swiper-button-custom-prev:hover,
.Products .swiper-button-custom-next:hover {
    background-color: var(--gold-color);
    color: white;
}
/* end swiper */
/* end Products */
/* start discount*/
.discount{
    padding-block: 40px;
    background-color: var(--gold-background-color);
}
.discount .container .all{
    gap: 30px;
}
.discount .partone{
    width: calc(65% - 15px);
}
.discount .swiper {
    width: 100%;
    height: 100%;
}
.discount .swiper-slide {
    font-size: 18px;
    background: var(--header-background-color);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.discount .swiperconetnt {
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
}
.discount .swiperconetnt .iamge{
    flex-basis:calc(35% - 15px);
}
.discount .swiperconetnt .decription{
    flex-basis: calc(55% - 15px);
}
.discount .swiperconetnt .decription h3{
    font-size: 40px;
    color: var(--dark-gold-color);
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.discount .swiperconetnt .decription  p{
    font-size: 12px;
    color: var(--text-color);
    font-family: "Lato";
    line-height: 1.3;
    margin-bottom: 13px;
}
.discount .swiperconetnt .decription a{
    color: var(--dark-gold-color);
    font-size: 17px;
    transition: var(--transition);
}
.discount .swiperconetnt .decription a:hover{
    color: var(--gold-color);
}
.discount .swiperconetnt .decription a i{
    margin-left: 3px;
    transition: var(--transition);
    display: inline-block;
}
.discount .swiperconetnt .decription a:hover i{
    animation: swapicon 1s linear infinite  ;
}
@keyframes swapicon {
    0% , 20%  ,40% ,75%{
        transform: translateX(0);
    }
    60% , 90%{
        transform: translateX(5px);
    }
}
@media (max-width:992px) {
    .discount .swiperconetnt .iamge{
        flex-basis:calc(25% - 15px);
    }
    .discount .swiperconetnt .decription{
        flex-basis: calc(65% - 15px);
    }
    .discount .swiperconetnt .decription h3{
        font-size: 30px;
        margin-bottom: 15px;
    }
    .discount .swiperconetnt .decription  p{
        font-size: 10px;
    }
    .discount .swiperconetnt .decription a{
        font-size: 15px;
    }
}
@media (max-width:500px) {
    .discount .swiperconetnt {
        flex-direction: column;
    }
    .discount .swiperconetnt .iamge{
        flex-basis:100%;
    }
    .discount .swiperconetnt .decription{
        flex-basis:100%;
    }
    .discount .swiperconetnt .decription h3{
        font-size: 30px;
        margin-bottom: 20px;
    }
    .discount .swiperconetnt .decription  p{
        font-size: 12px;
    }
    .discount .swiperconetnt .decription a{
        font-size: 17px;
    }
}
.discount .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*start Basic bullets */
.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color:rgb(167, 167, 167);
}
.swiper-pagination-bullet-active {
    background-color: var(--gold-color);
    transform: scale(1.2);
}
/*end Basic bullets */
.discount .parttwo{
    width: calc(35% - 15px);
    height: fit-content;
    padding: 20px;
    background-color: var(--header-background-color);
    border-radius: 10px;
}
.discount .parttwo .iamge{
    width: 100%;
    height: 70%;
    margin-bottom: 25px;
}
.discount .parttwo .iamge img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.discount .parttwo .description {
    color: var(--text-color);
}
.discount .parttwo .description h3{
    font-size: 17px;
    margin-bottom: 10px;
}
.discount .parttwo .description .date{
    padding-block: 10px;
}
.discount .parttwo .description .date div{
    padding-inline: 10px;
    color: var(--text-color);
    font-size: 17px;
    font-weight: 500;
}
.discount .parttwo .description .date div span:first-child{
    width: 40px;
    height: 40px;
    border: 1px solid var(--dark-gold-color);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
@media (max-width:500px) {
    .discount .parttwo .description .date div{
        font-size: 15px;
        font-weight: 400;
    }
    .discount .parttwo .description .date div span:first-child{
        width: 30px;
        height: 30px;
    }
}
@media (max-width:992px) {
    .discount .container .all{
        gap: 0;
        flex-direction: column;
        row-gap: 30px;
    }
    .discount .partone{
        width: 100%;
    }
    .discount .parttwo{
        width:100%;
    }
    .discount .swiperconetnt {
        position: relative;
        top: 0%;
        transform: translateY(0%);
    }
}
/* end discount*/
/* start purchase  */
.purchase{
    padding-block: 40px;
    background-color: var(--gold-background-color);
}
.purchase .Online-products .categories ul{
    gap: 20px;
}
.purchase .Online-products .categories ul li {
    padding-inline:5px;
}
.purchase .Online-products .categories ul li span{
    transition: var(--transition);
    color: var(--text-color);
    font-weight: 500;
    cursor: pointer;
}
.purchase .Online-products .categories ul li span:hover{
    color: var(--dark-gold-color);
}
.purchase .Online-products .categories ul li .active{
    color: var(--gold-color);
}
.purchase .Online-products .categories ul li .active::before{
    content: "";
    position:absolute;
    width: 40%;
    height: 2px;
    left: 0;
    bottom: -5px;
    background-color: var(--gold-color);
}
@media (max-width:500px) {
    .purchase .Online-products .categories ul li {
        padding-inline:3px;
    }
    .purchase .Online-products .categories ul{
        gap: 5px;
    }
    .purchase .Online-products .categories ul li span{
        font-size: 11px;
    }
    .purchase .main-header h3{
        font-size: 22px;
    }
}
.purchase .Online-products .Online-products-content{
    margin-top: 50px;
}
.purchase .Online-products .Online-products-content .products-cards{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}
.purchase .Online-products .Online-products-content .products-cards .grid-item {
    font-size: 18px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: var(--transition);
}
.purchase .Online-products .Online-products-content .products-cards .grid-item:hover{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.163);
}
/* end purchase  */